*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.runway {
    height: 200px;
    width: 100%;
    background-image: url(../images/road.jpg);
    position: absolute;
    bottom: 0;
    left: 0;
}
.airplane {
    width: 500px;
    position: absolute;
    bottom: 150px;
    right: -200px;
    animation: plan 4s linear infinite;
    transform-origin: 100% 50%;
}
@keyframes plan {
    0%{
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    30%{
        transform: translateX(-500px) translateY(0) rotate(0deg);
    }
    100%{
        transform: translateX(-1500px) translateY(-200px) rotate(20deg);
    }
}
@media (max-width: 767px) {

    .airplane {
        width: 200px;
    }
    @keyframes plan {
        0%{
            transform: translateX(0) translateY(0) rotate(0deg);
        }
        30%{
            transform: translateX(-255px) translateY(0) rotate(0deg);
        }
        100%{
            transform: translateX(-900px) translateY(-200px) rotate(20deg);
        }
    }
}